body {
  background-image: url('./images/boom.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Titillium Web', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2 {
  margin: 0;
}
ul {
  list-style: none;
}
